@use '../variables' as *;

.about {
  &__description {
    font-size: 30px;
    max-width: 890px;
  }

  .about-stats {
    margin-top: 60px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;

    .about-stat {
      flex-basis: 260px;

      &__value {
        font-size: 70px;
        font-weight: 600;
        color: $text-color-accent;
        white-space: nowrap;
      }

      &__caption {
        font-size: 18px;
        color: $text-color-quaternary;
      }
    }
  }
}
