@use '../variables' as *;

.benefits {
  background-color: $bg-color-tertiary;

  &__title {
    font-weight: 600;
    font-size: 50px;
  }

  .benefits-list {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;

    .benefits-item {
      flex-basis: 360px;

      &__content {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }

      &__title {
        font-weight: 600;
        font-size: 24px;
      }

      &__text {
        font-size: 18px;
        color: $text-color-quaternary;
      }
    }
  }
}
