@use '../variables' as *;

.tooltip {
  position: relative;
  display: inline-block;
  cursor: help;
  transform: translate(5px, -10px);

  &__icon {
    width: 24px;
    height: 24px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    background-color: $controls-bg-tertiary;
    border-radius: 50%;

    img {
      transform: translateX(-1px);
    }
  }

  &__text {
    position: absolute;
    bottom: 100%;
    left: 0;
    padding: 15px 20px;
    background-color: $bg-color-primary;
    color: $text-color-primary;
    border-radius: 5px;
    white-space: normal;
    word-break: break-word;
    max-width: 260px;
    width: max-content;
    font-size: 16px;
    font-weight: 400;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.3s ease;
    box-shadow: $shadow-light;
  }

  &:hover {
    .tooltip__text {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }
  }
}
